body {
    overflow-x: hidden;
  }
  

.contact-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #071823;
    border-radius: 8px;
    
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #071823;

  }
  
  .contact-form textarea {
    height: 100px;
    resize: vertical;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #071823;
    border: 2px solid #0ef;
    border-radius: 20px;
    color: #0ef;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
 
  